# Exercise 6.1 Sourcing Open Data

This will include the cleaning, data wrangling, and consistency checks

In [2]:
#Import libraries

import pandas as pd
import numpy as np
import os

In [3]:
path = r'C:\Users\kuohe\Medical Cost Personal Datasets 1-30-2024'

In [4]:
#import 'insurance.csv' to make df_insurance
df_insurance = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'insurance.csv'), index_col = False)

# Cleaning Data

In [5]:
df_insurance.head(10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

In [6]:
df_insurance.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [16]:
df_insurance.isnull().sum()
#No missing values

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [18]:
# Check for mixed types
for col in df_insurance.columns.tolist():
  weird = (df_insurance[[col]].applymap(type) != df_insurance[[col]].iloc[0].dtype).any(axis=1)
  if len(df_insurance[weird]) > 0:
    print(col)

age
sex
children
smoker
region

C:\Users\kuohe\AppData\Local\Temp\ipykernel_18756\4189692580.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_insurance[[col]].applymap(type) != df_insurance[[col]].iloc[0].dtype).any(axis=1)
C:\Users\kuohe\AppData\Local\Temp\ipykernel_18756\4189692580.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_insurance[[col]].applymap(type) != df_insurance[[col]].iloc[0].dtype).any(axis=1)
C:\Users\kuohe\AppData\Local\Temp\ipykernel_18756\4189692580.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_insurance[[col]].applymap(type) != df_insurance[[col]].iloc[0].dtype).any(axis=1)
C:\Users\kuohe\AppData\Local\Temp\ipykernel_18756\4189692580.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_insurance[[col]].applymap(type) != df_insurance[[col]].iloc[0].dtype).any(axis=1)
C:\Users\kuohe\AppData\Local\Temp\ipykernel_18756\4189692580.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_insurance[[col]].applymap(type) != df_insurance[[col]].iloc[0].dtype).any(axis=1)
C:\Users\kuohe\AppData\Local\Temp\ipykernel_18756\4189692580.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_insurance[[col]].applymap(type) != df_insurance[[col]].iloc[0].dtype).any(axis=1)
C:\Users\kuohe\AppData\Local\Temp\ipykernel_18756\4189692580.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_insurance[[col]].applymap(type) != df_insurance[[col]].iloc[0].dtype).any(axis=1)

In [19]:
df_insurance.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [20]:
# Changing data type to fit the correctly according to column
df_insurance['sex'] = df_insurance['sex'].astype('category')

In [21]:
# Changing data type to fit the correctly according to column
df_insurance['smoker'] = df_insurance['smoker'].astype('category')

In [22]:
# Changing data type to fit the correctly according to column
df_insurance['region'] = df_insurance['region'].astype('category')

In [23]:
df_insurance.dtypes

age            int64
sex         category
bmi          float64
children       int64
smoker      category
region      category
charges      float64
dtype: object

In [24]:
# Checking for duplicates
df_insurance_dups = df_insurance[df_insurance.duplicated()]

In [25]:
df_insurance_dups

     age   sex    bmi  children smoker     region    charges
581   19  male  30.59         0     no  northwest  1639.5631

In [28]:
# Removing the duplicates
df_insurance = df_insurance.drop_duplicates()

In [29]:
# Checking if removed.
df_insurance.duplicated().sum()

0

# Exporting Data

In [30]:
#Export df_player
df_insurance.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'insurance_checked.csv'))